# ─────────────────────────────
# Python
# ─────────────────────────────
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit
.streamlit/

# Model Weights (Very Important)


# Large Files
*.zip
*.tar
*.gz

# Data Folders (if large)
data/
dataset/
datasets/

# Hugging Face cache
.cache/